
@{
    ViewBag.Title = "ConsultationCustomer";
}

<section class="row">
    <div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-warning btn-sm">
                <strong>retour</strong>
            </button>
        </div>
        <div class="col-xs-3">
            <button type="button" class="btn btn-info btn-sm"><strong>Consultation fiche client</strong></button>
        </div>
        <div class="col-xs-offset-1 col-xs-1">
            <button type="button" class="btn btn-success btn-sm"><strong>Modifier</strong></button>
        </div>
    </div>
</section>



<section class="row">
    <div>
        <form class="well">
            <fieldset>
                <div class="row">
                    <div class="col-xs-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <caption>
                                <div class="legend1">Informations Client</div>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>Civil.</td>
                                    <td>Monsieur</td>
                                </tr>
                                <tr>
                                    <td>Nom</td>
                                    <td>Christ</td>
                                </tr>
                                <tr>
                                    <td>Prénom</td>
                                    <td>jesus</td>
                                </tr>
                                <tr>
                                    <td>Fonction</td>
                                    <td>Sauveur</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <caption>
                                <legend>Client Pro.</legend>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>Raison Social</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>N°Sirent</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>S. Activité</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <caption>
                                <div class="legend1">Adresse de facturation</div>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>Ligne 1</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Ligne 2</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CP</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Ville</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <caption>
                                <div class="legend1">Adresse de livraison</div>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>Ligne 1</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Ligne 2</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CP</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Ville</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <caption>
                                <div class="legend1">Coordonnées Client</div>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>N° Portable</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>N° Fixe</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>E-Mail</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Fax</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <caption>
                                <div class="legend1">Coordonnées 2</div>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>N° Portable</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>N° Fixe</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>E-Mail</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Fax</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="legend1">Commentaires :</div>
                        <textarea id="commentaire" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="col-xs-4">
                        <table class="table table-bordered table-striped table-condensed">
                            <caption>
                                <div class="legend1">Devis lié</div>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>Ref. Devis</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Ref. Devis</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Ref. Devis</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>

